/* ---------------------------->>>   Color  <<<-----------------------------*/
:root{
    /* -------------------->>> اللون <<<---------------------- */
    --color_main: #ffcc11;
    --color_text: #fff;
    --color_a: #fff;
    --color_light: #ffcc11;


    /* -------------------->>> الخلفية <<<-------------------- */
    --background_header: linear-gradient(180deg, #303030, #000);
}